.vscode*
.DS_Store
*.pyc
__pycache__
*_test
*_test
*_test
**logs**
vs.code-workspace
conventions.md
**ray_test.pyw
.pytest_cache*
tmp**
.ipynb_checkpoints
src
data
results
.tmp.driveupload
env/aircombat
env/aircombat.py
